# This is a basic workflow to help you get started with Actions

name: gh-pages

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: touch .nojekyll
        run: |
          touch .nojekyll
      - name: Commit files
        run: |
          git config --global user.email "22555172+takahitomiyamoto@users.noreply.github.com"
          git config --global user.name "takahitomiyamoto [GitHub Actions]"
          git add .nojekyll
          git commit -m "[add] .nojekyll by GitHub Actions"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true
